<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultado</h1>
        <table>
              <caption>Detalle de los resultados</caption>
              <tr>
                <th scope="col">Premio</th>
                <th scope="col">Veces</th>
                <th scope="col">%</th>
              </tr>
              <tr>
                <td>0 aciertos :</td>
                <td>{{ resultado['dic_res']['0'] }}</td>
                <td>{{ resultado['dic_por']['0'] }}</td>
              </tr>
              <tr>
                <td>1 aciertos :</td>
                <td>{{ resultado['dic_res']['1'] }}</td>
                <td>{{ resultado['dic_por']['1'] }}</td>
              </tr>
              <tr>
                <td>2 aciertos :</td>
                <td>{{ resultado['dic_res']['2'] }}</td>
                <td>{{ resultado['dic_por']['2'] }}</td>
              </tr>
              <tr>
                <td>3 aciertos :</td>
                <td>{{ resultado['dic_res']['3'] }}</td>
                <td>{{ resultado['dic_por']['3'] }}</td>

              </tr>
              <tr>
                <td>4 aciertos :</td>
                <td>{{ resultado['dic_res']['4'] }}</td>
                <td>{{ resultado['dic_por']['4'] }}</td>

              </tr>
              <tr>
                <td>5 aciertos :</td>
                <td>{{ resultado['dic_res']['5'] }}</td>
                <td>{{ resultado['dic_por']['5'] }}</td>

              </tr>            
              <tr>
                <td>5 (aciertos + C):</td>
                <td>{{ resultado['dic_res']['5C'] }}</td>
                <td>{{ resultado['dic_por']['5C'] }}</td>

              </tr>
              <tr>
                <td>6 aciertos :</td>
                <td>{{ resultado['dic_res']['6'] }}</td>
                <td>{{ resultado['dic_por']['6'] }}</td>

              </tr>
              <tr>
                <td>Especial (6 aciertos + R) :</td>
                <td>{{ resultado['dic_res']['6R'] }}</td>
                <td>{{ resultado['dic_por']['6R'] }}</td>

              </tr>
              <tr>
                <td>Complementario :</td>
                <td>{{ resultado['dic_res']['Complementario'] }}</td>
                <td>{{ resultado['dic_por']['Complementario'] }}</td>

              </tr>
              <tr>
                <td>Reintegro :</td>
                <td>{{ resultado['dic_res']['Reintegro'] }}</td>
                <td>{{ resultado['dic_por']['Reintegro'] }}</td>

              </tr>
              <tr>
                <td>Total de sorteos :</td>
                <td>{{ resultado['dic_res']['Tot_Sorteos'] }}</td>
                <td>{{ resultado['dic_por']['Tot_SOrteos'] }}</td>

              </tr>
          </table>
          <img src="static\dist_premios.png" alt="Gráfico de las distribución de los premios">
    </div>
</body>
</html>
