<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultado</h1>
        <table>
            <tbody>
              <tr>
                <td>0 aciertos :</td>
                <td>{{ resultado['0'] }}</td>
              </tr>
              <tr>
                <td>1 aciertos :</td>
                <td>{{ resultado['1'] }}</td>
              </tr>
              <tr>
                <td>2 aciertos :</td>
                <td>{{ resultado['2'] }}</td>
              </tr>
              <tr>
                <td>3 aciertos :</td>
                <td>{{ resultado['3'] }}</td>
              </tr>
              <tr>
                <td>4 aciertos :</td>
                <td>{{ resultado['4'] }}</td>
              </tr>
              <tr>
                <td>5 aciertos :</td>
                <td>{{ resultado['5'] }}</td>
              </tr>            
              <tr>
                <td>5 (aciertos + C):</td>
                <td>{{ resultado['5C'] }}</td>
              </tr>
              <tr>
                <td>6 aciertos :</td>
                <td>{{ resultado['6'] }}</td>
              </tr>
              <tr>
                <td>Especial (6 aciertos + R) :</td>
                <td>{{ resultado['6R'] }}</td>
              </tr>
              <tr>
                <td>Complementario :</td>
                <td>{{ resultado['Complementario'] }}</td>
              </tr>
              <tr>
                <td>Reintegro :</td>
                <td>{{ resultado['Reintegro'] }}</td>
              </tr>
              <tr>
                <td>Total de sorteos :</td>
                <td>{{ resultado['Tot_Sorteos'] }}</td>
              </tr>
            </tbody>
          </table>
          <img src="static\dist_premios.png" alt="Gráfico de las distribución de los premios">
    </div>
</body>
</html>
